﻿@import "bootstrap.min.css";
ul{
    list-style: none;
    padding-left: 0;
}

li a, a:hover, a:visited{
    color: #ffffff;
    text-decoration: none;
}
td{
    line-height:34px!important;
}
input{
    margin-bottom: 0px;
}
label{
    margin-bottom: 0px;
}
p{
    margin: 0;
}
.header-menu{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 45px;
}
.header-menu li{
    width: 20%;
    height: 45px;
    border: 3px solid transparent;

    background-color: royalblue;
}
.header-menu a{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.header-menu a:hover{
    border-color: royalblue;
    background-color: darkblue;
}
.header-menu li.active{
    border-color: royalblue;
    background-color: darkblue;
}
.table-condensed tr th{
    text-align: center;
}
caption{
    background-color: #4cae4c;
    padding: 10px 0;
    width: 66%;
    margin: 0 auto;
    color: #fff;
}

.delete{
    margin:  0 0 5px 5px;
}

.paginator{
    width: 100%;
    margin: 0 auto;
}
.paginator ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: royalblue;
    height: 45px;
}
.paginator ul li{
    margin-right: 8px;
}
.paginator ul li a{
    color: #000;
    padding: 5px 10px;
    background-color: #fff;
}
.paginator ul li a:hover{
    background-color: lightseagreen;
}
#code-modal{
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    min-height: 100px;
    background-color: #c0a16b;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    padding: 20px;
}
#code-modal pre{
    text-align: center;
    margin: 0;
}
#code-modal #modal-close{
    width: 24px;
    height: 24px;
    color: #000;
    position: absolute;
    right: -12px;
    top: -12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 12px;
    cursor: pointer;
}